<%- include('partials/head') %> 

     
        <%- include('partials/navbar') %>
        <h1>ALL THE CATS</h1>
      
        <ul>
        <% for(cat of cats) { %>
        <li> <%= cat[0].toUpperCase() + cat.slice(1) %> </li>
      <%}%>
    </ul>

    <%- include('partials/footer') %>