<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
        
        <h1>Make A New Comment</h1>
        <form action="/comments" method="post">
            <section>
            <label for="username">Enter Username:</label>
            <br>
            <input type="text" id="username" placeholder="username" name="username">
        </section>
        <section>
            <label for="comment">Enter Comment:</label>
            <br>
            <textarea type="text" placeholder="comment" id="comment" name="comment" cols="30" rows="5"></textarea>
        </section>
        <button class="btn btn-outline-success">Submit</button>

        </form>
        <a href="/comments">BACK</a>
        
        <%- include("../partials/footer") %>