<%- include("partials/header") %>
<%- include("partials/navbar") %>
        <h1>Tweeter</h1>

        <div class="container-fluid">
            <img src="https://d.newsweek.com/en/full/1852152/donald-trump-leaves-trump-tower-manhattan.jpg?w=1600&h=1600&q=88&f=6cd07340ef7b359cd1f9334321820106" alt="">

        </div>
        
        <script src="" async defer></script>
    </body>
</html>

<%- include("partials/footer") %>