<%- include("partials/header") %>
<%- include("partials/navbar") %>
        <h1>Home Page</h1>
        
        <script src="" async defer></script>
    </body>
</html>

<%- include("partials/footer") %>